<include file="Public:header" title="登陆" />
</head>
<body style="background-color:#555;">
<div class="bg-gray fg-white">
	<div class="grid">
		<div class="row cells8">
			<div class="cell colspan3 text-center">
				<h2>后台管理系统</h2>
			</div>
			
			<div class="cell offset6 colspan2">
				<div class="tile-area-controls">
					<button class="image-button icon-right bg-transparent fg-white bg-hover-dark no-border"><span class="sub-header no-margin text-light">用户名</span> <span class="icon mif-user"></span></button>
					<button class="square-button bg-transparent fg-white bg-hover-dark no-border" onclick="showSearch()"><span class="mif-search"></span></button>
					<button class="square-button bg-transparent fg-white bg-hover-dark no-border" onclick="showSettings()"><span class="mif-cog"></span></button>
					<a href="" class="square-button bg-transparent fg-white bg-hover-dark no-border"><span class="mif-switch"></span></a>
				</div>
			</div>
		</div>
	</div>
	<div class="grid bg-white">
		<div class="row cells8">
			<div class="">
				<ul class="v-menu">
				<li class="menu-title">首页</li>
				<li><a href="#"><span class="mif-home icon"></span> 首页</a></li>
				<li class="divider"></li>
				<li class="menu-title">货柜操作</li>
				<li><a href="#"><span class="mif-stack3 icon"></span> 货柜状态</a></li>
				<li><a href="#"><span class="mif-event-busy icon"></span> 未提醒件</a></li>
				<li><a href="#"><span class="mif-bin icon"></span> 退货件</a></li>
				<li class="divider"></li>
				<li class="menu-title">会员操作<</li>
				<li><a href="#"><span class="mif-user icon"></span> 会员状态修改</a></li>
				<li><a href="#"><span class="mif-compass icon"></span> 对应快件</a></li>
				<li class="divider"></li>
				<li class="menu-title">快件操作</li>
				<li><a href="#"><span class="mif-tags icon"></span> 快件信息修改</a></li>
				</ul>
			</div>
			<div class="cell colspan6">
				
			</div>
		</div>
	
	</div>
	
</div>

</body>
</html>