<!DOCTYPE html>
<html>
<head>
    <title>[title]</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="_CSS_metro.css" rel="stylesheet">
    <link href="_CSS_globe.css" rel="stylesheet">
    <link href="_CSS_metro-icons.css" rel="stylesheet">
	<link rel='shortcut icon' type='image/x-icon' href='_IMAGE_favico.ico' />
	
    <script src="_SCRIPT_jquery-2.1.4.min.js"></script>
    <script src="_SCRIPT_metro.js"></script>
    <script src="_SCRIPT_public.js"></script>
    <script src="_SCRIPT_angular.js"></script>
    <script src="_SCRIPT_angular-resource.js"></script>
    <script src="_SCRIPT_angular-route.min.js"></script>
    <script src="_SCRIPT_app.js"></script>
    <script src="_SCRIPT_select2.min.js"></script>
 
 