<p style="padding-top:15px;">您现在的位置是:   <a href="#/usrStatus">会员操作</a><span>>></span><a href="#/usrStatus">会员状态修改</a></p>	

<hr class="thin bg-grayLighter">

<div class="input-control text" data-role="input">
	<input type="text"  ng-model="usrid" required placeholder="请输入用户id"><button class="button warning" ng-click="confirm()">确认信息</button>
</div>

<p ng-hide="datahave">查无此人</p>

<table class="table striped hovered cell-hovered border bordered" ng-show="datahave">
	<tr>
		<td>用户名</td>
		<td ng-bind="usr['name']"></td>
		<td><edit edata="usr['name']"></edit></td>
	</tr>
	<tr>
		<td>密码</td>
		<td ng-bind="usr['psw']"></td>
		<td><edit edata="usr['psw']"></edit></td>
	</tr>
	<tr>
		<td>id</td>
		<td ng-bind="usr['id']"></td>
		<td><edit edata="usr['id']"></edit></td>
	</tr>
	<tr>
		<td>手机</td>
		<td ng-bind="usr['phonenumber']"></td>
		<td><edit edata="usr['phonenumber']"></edit></td>
	</tr>
	<tr>
		<td>邮箱</td>
		<td ng-bind="usr['email']"></td>
		<td><edit edata="usr['email']"></edit></td>
	</tr>
	<tr>
		<td>上次登录时间</td>
		<td ng-bind="usr['lastlogin']"></td>
		<td>不可编辑</td>
	</tr>
	<tr>
		<td>上次登陆ip</td>
		<td ng-bind="usr['lastip']"></td>
		<td>不可编辑</td>
	</tr>
</table>
