.app-bar {
  display: block;
  width: 100%;
  position: relative;
  background-color: #0072c6;
  color: #ffffff;
  height: 3.125rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.app-bar:before,
.app-bar:after {
  display: table;
  content: "";
}
.app-bar:after {
  clear: both;
}
.app-bar .app-bar-element {
  line-height: 3.125rem;
  padding: 0 .625rem;
  font-size: 1rem;
  cursor: pointer;
  color: inherit;
  display: block;
  float: left;
  position: relative;
  vertical-align: middle;
  height: 3.125rem;
}
.app-bar .app-bar-element:hover,
.app-bar .app-bar-element:active {
  background-color: #005696;
}
.app-bar .app-bar-element.branding {
  padding-left: 1rem;
  padding-right: 1rem;
}
.app-bar .app-bar-divider {
  display: block;
  float: left;
  line-height: 3.125rem;
  height: 3.125rem;
  width: 1px;
  background-color: #4c9cd7;
  padding: 0;
}
.app-bar .dropdown-toggle:before {
  border-color: #ffffff;
}
.app-bar .app-bar-menu {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}
.app-bar .app-bar-menu > li,
.app-bar .app-bar-menu > li > a {
  line-height: 3.125rem;
  padding: 0 .625rem;
  font-size: 1rem;
  cursor: pointer;
  color: inherit;
  display: block;
  float: left;
  position: relative;
  vertical-align: middle;
  height: 3.125rem;
}
.app-bar .app-bar-menu > li:hover,
.app-bar .app-bar-menu > li > a:hover,
.app-bar .app-bar-menu > li:active,
.app-bar .app-bar-menu > li > a:active {
  background-color: #005696;
}
.app-bar .app-bar-menu > li.branding,
.app-bar .app-bar-menu > li > a.branding {
  padding-left: 1rem;
  padding-right: 1rem;
}
.app-bar .app-bar-menu > li:before,
.app-bar .app-bar-menu > li > a:before,
.app-bar .app-bar-menu > li:after,
.app-bar .app-bar-menu > li > a:after {
  display: table;
  content: "";
}
.app-bar .app-bar-menu > li:after,
.app-bar .app-bar-menu > li > a:after {
  clear: both;
}
.app-bar .app-bar-menu > li > .input-control.text,
.app-bar .app-bar-menu > li > a > .input-control.text,
.app-bar .app-bar-menu > li > .input-control.password,
.app-bar .app-bar-menu > li > a > .input-control.password {
  margin-top: .55rem;
  font-size: .875rem;
  line-height: 1.8rem;
  display: block;
}
.app-bar .app-bar-menu > li > .input-control.text input,
.app-bar .app-bar-menu > li > a > .input-control.text input,
.app-bar .app-bar-menu > li > .input-control.password input,
.app-bar .app-bar-menu > li > a > .input-control.password input {
  border-color: transparent;
}
.app-bar .app-bar-menu > li > .button,
.app-bar .app-bar-menu > li > a > .button {
  margin-top: -0.15rem;
}
.app-bar .app-bar-menu > li > .image-button,
.app-bar .app-bar-menu > li > a > .image-button {
  margin: 0;
  background-color: transparent;
  color: #ffffff;
  font-size: inherit;
}
.app-bar .app-bar-menu > li > .image-button img.icon,
.app-bar .app-bar-menu > li > a > .image-button img.icon {
  padding: 0;
}
.app-bar .app-bar-menu > li.dropdown-toggle,
.app-bar .app-bar-menu > li > a.dropdown-toggle {
  padding-right: 1.5rem;
}
.app-bar .app-bar-menu > li.dropdown-toggle:before,
.app-bar .app-bar-menu > li > a.dropdown-toggle:before {
  border-color: #ffffff;
  display: block;
}
.app-bar .app-bar-menu > li {
  padding: 0;
}
.app-bar .app-bar-menu > li .d-menu {
  top: 100%;
  border: 2px solid #005696;
}
.app-bar .app-bar-menu > li .d-menu li:not(.disabled):hover {
  background-color: #eee;
}
.app-bar .app-bar-menu > li .d-menu li:not(.disabled):hover > a {
  color: #1d1d1d;
}
.app-bar .app-bar-menu > li .d-menu .d-menu {
  top: -0.625rem;
  left: 100%;
}
.app-bar .app-bar-menu > li .d-menu .dropdown-toggle:before {
  border-color: #1d1d1d;
}
.app-bar .app-bar-pullbutton {
  float: right;
}
.app-bar .app-bar-pullbutton.automatic {
  display: none;
  float: right;
  color: #fff;
  cursor: pointer;
  font: 2rem sans-serif;
  height: 3.125rem;
  width: 3.125rem;
  line-height: 1.25rem;
  vertical-align: middle;
  text-align: center;
  margin: 0;
}
.app-bar .app-bar-pullbutton.automatic:before {
  content: "\2261";
  position: absolute;
  top: .875rem;
  left: .875rem;
}
.app-bar .app-bar-drop-container {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 10px;
  border: 2px solid #005696;
}
.app-bar .app-bar-drop-container:before {
  content: '';
  position: absolute;
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  border: 2px #005696 solid;
  top: 1px;
  left: 1rem;
  margin: -8px 0;
  border-bottom: none;
  border-right: none;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.app-bar .app-bar-drop-container:before {
  z-index: 0;
}
.app-bar .app-bar-drop-container.place-right {
  right: 0;
  left: auto;
}
.app-bar .app-bar-drop-container.place-right:before {
  left: auto;
  right: 1rem;
}
.app-bar .app-bar-element:before,
.app-bar .app-bar-element:after {
  display: table;
  content: "";
}
.app-bar .app-bar-element:after {
  clear: both;
}
.app-bar .app-bar-element > .input-control.text,
.app-bar .app-bar-element > .input-control.password {
  margin-top: .55rem;
  font-size: .875rem;
  line-height: 1.8rem;
  display: block;
}
.app-bar .app-bar-element > .input-control.text input,
.app-bar .app-bar-element > .input-control.password input {
  border-color: transparent;
}
.app-bar .app-bar-element > .button {
  margin-top: -0.15rem;
}
.app-bar .app-bar-element > .image-button {
  margin: 0;
  background-color: transparent;
  color: #ffffff;
  font-size: inherit;
}
.app-bar .app-bar-element > .image-button img.icon {
  padding: 0;
}
.app-bar.drop-up .app-bar-drop-container {
  top: auto;
  bottom: 3.75rem;
}
.app-bar.drop-up .app-bar-drop-container:before {
  top: auto;
  bottom: 1px;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}
.app-bar.drop-up .app-bar-menu > li > .d-menu {
  top: auto;
  bottom: 3.125rem;
}
.app-bar.drop-up .d-menu .d-menu {
  top: auto ;
  bottom: 0 ;
}
.app-bar.fixed-top,
.app-bar.fixed-bottom {
  z-index: 1030;
  position: fixed;
}
.app-bar.fixed-top {
  top: 0;
}
.app-bar.fixed-bottom {
  bottom: 0;
}
.app-bar {
  overflow: visible;
  height: auto;
}
.app-bar .app-bar-pullbutton {
  line-height: 3.125rem;
  padding: 0 .625rem;
  font-size: 1rem;
  cursor: pointer;
  color: inherit;
  display: block;
  float: left;
  position: relative;
  vertical-align: middle;
  height: 3.125rem;
  float: right;
}
.app-bar .app-bar-pullbutton:hover,
.app-bar .app-bar-pullbutton:active {
  background-color: #005696;
}
.app-bar .app-bar-pullbutton.branding {
  padding-left: 1rem;
  padding-right: 1rem;
}
.app-bar .app-bar-pullbutton:before,
.app-bar .app-bar-pullbutton:after {
  display: table;
  content: "";
}
.app-bar .app-bar-pullbutton:after {
  clear: both;
}
.app-bar .app-bar-pullbutton > .input-control.text,
.app-bar .app-bar-pullbutton > .input-control.password {
  margin-top: .55rem;
  font-size: .875rem;
  line-height: 1.8rem;
  display: block;
}
.app-bar .app-bar-pullbutton > .input-control.text input,
.app-bar .app-bar-pullbutton > .input-control.password input {
  border-color: transparent;
}
.app-bar .app-bar-pullbutton > .button {
  margin-top: -0.15rem;
}
.app-bar .app-bar-pullbutton > .image-button {
  margin: 0;
  background-color: transparent;
  color: #ffffff;
  font-size: inherit;
}
.app-bar .app-bar-pullbutton > .image-button img.icon {
  padding: 0;
}
.app-bar .app-bar-pullbutton {
  display: none;
}
.app-bar .app-bar-pullmenu {
  display: none;
}
.app-bar .app-bar-pullmenu.flexstyle-sidebar2 {
  position: absolute;
  right: 0;
  z-index: 1000;
}
.app-bar .app-bar-pullmenu.flexstyle-sidebar2 .app-bar-pullmenubar {
  float: right;
}
.app-bar .app-bar-pullmenu.flexstyle-sidebar2 .dropdown-toggle:before {
  border-color: #323232;
}
.app-bar .app-bar-pullmenu.flexstyle-sidebar2 .sidebar2 li:hover {
  background-color: #0072c6;
}
.app-bar .app-bar-pullmenu.flexstyle-sidebar2 .sidebar2 li .input-control {
  text-align: center;
  display: block;
  margin: 0.325rem;
}
.app-bar .app-bar-pullmenu.flexstyle-sidebar2 .sidebar2 li:hover a {
  background-color: #0072c6;
}
.app-bar .app-bar-pullmenu.flexstyle-sidebar2 .sidebar2 li li:not(:hover) {
  color: #1d1d1d;
}
.app-bar .app-bar-pullmenu.flexstyle-sidebar2 .sidebar2 li li:not(:hover) a {
  background-color: #ffffff;
}
.app-bar .app-bar-pullmenu .app-bar-menu {
  width: 100%;
  border-top: 1px solid #4c9cd7;
  position: relative;
  float: none;
  display: none;
  z-index: 1000 1;
  background-color: #005696;
  clear: both;
}
.app-bar .app-bar-pullmenu .app-bar-menu > li,
.app-bar .app-bar-pullmenu .app-bar-menu > li > a {
  float: none;
}
.app-bar .app-bar-pullmenu .app-bar-menu > li {
  height: auto;
}
.app-bar .app-bar-pullmenu .app-bar-menu li:hover {
  background-color: #0072c6;
}
.app-bar .app-bar-pullmenu .app-bar-menu li:hover a {
  background-color: #0072c6;
  color: #ffffff;
}
.app-bar .app-bar-pullmenu .app-bar-menu .d-menu {
  border: 0;
  border-top: 1px solid #4c9cd7;
  clear: both;
  float: none;
  width: 100%;
  position: relative;
  left: 0;
  box-shadow: none;
  max-width: 100%;
  background-color: #005696;
}
.app-bar .app-bar-pullmenu .app-bar-menu .d-menu li {
  width: 100%;
  background-color: inherit;
}
.app-bar .app-bar-pullmenu .app-bar-menu .d-menu li a {
  padding-left: 20px;
  padding-right: 0;
  background-color: inherit;
  width: 100%;
  color: #ffffff;
}
.app-bar .app-bar-pullmenu .app-bar-menu .d-menu .dropdown-toggle:before {
  border-color: #ffffff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.app-bar .app-bar-pullmenu .app-bar-menu .d-menu .divider {
  background-color: #4c9cd7;
}
.app-bar .app-bar-pullmenu .app-bar-menu .d-menu .d-menu {
  top: 0;
  left: 0;
}
.app-bar > .container {
  padding: 0 !important;
}
.app-bar.darcula {
  background-color: #3c3f41;
}
.app-bar.darcula .app-bar-element:hover,
.app-bar.darcula .app-bar-menu > li:hover,
.app-bar.darcula .app-bar-menu > li > a:hover,
.app-bar.darcula .app-bar-element:active,
.app-bar.darcula .app-bar-menu > li:active,
.app-bar.darcula .app-bar-menu > li > a:active {
  background-color: #1d1d1d;
}
.app-bar.darcula .app-bar-divider {
  background-color: #616162;
}
.app-bar.darcula .app-bar-element .d-menu,
.app-bar.darcula .app-bar-menu > li .d-menu {
  background-color: #3c3f41;
  border-color: transparent;
}
.app-bar.darcula .app-bar-element .d-menu li:not(.disabled) > a,
.app-bar.darcula .app-bar-menu > li .d-menu li:not(.disabled) > a,
.app-bar.darcula .app-bar-element .d-menu li > a,
.app-bar.darcula .app-bar-menu > li .d-menu li > a {
  background-color: #3c3f41;
  color: #ffffff;
}
.app-bar.darcula .app-bar-element .d-menu li:not(.disabled) > a:hover,
.app-bar.darcula .app-bar-menu > li .d-menu li:not(.disabled) > a:hover,
.app-bar.darcula .app-bar-element .d-menu li > a:hover,
.app-bar.darcula .app-bar-menu > li .d-menu li > a:hover {
  background-color: #1d1d1d;
  color: #ffffff;
}
.app-bar.darcula .app-bar-element .d-menu li:hover > a,
.app-bar.darcula .app-bar-menu > li .d-menu li:hover > a {
  background-color: #1d1d1d;
}
.app-bar.darcula .app-bar-element .d-menu .divider,
.app-bar.darcula .app-bar-menu > li .d-menu .divider {
  background-color: #616162;
}
.app-bar.darcula .app-bar-element .d-menu .divider:hover,
.app-bar.darcula .app-bar-menu > li .d-menu .divider:hover {
  background-color: #616162;
}
.app-bar.darcula .app-bar-element .dropdown-toggle:before,
.app-bar.darcula .app-bar-menu li .dropdown-toggle:before {
  border-color: #ffffff;
}
.app-bar.darcula .app-bar-element.disabled,
.app-bar.darcula .app-bar-menu li.disabled,
.app-bar.darcula .app-bar-element:disabled,
.app-bar.darcula .app-bar-menu li:disabled {
  color: #555555;
}
.app-bar.darcula .app-bar-element.disabled a,
.app-bar.darcula .app-bar-menu li.disabled a,
.app-bar.darcula .app-bar-element:disabled a,
.app-bar.darcula .app-bar-menu li:disabled a {
  color: inherit !important;
}
.app-bar.darcula .app-bar-pullbutton:hover {
  background-color: #1d1d1d;
}
.app-bar.darcula .app-bar-drop-container {
  border: 2px solid #3c3f41;
  background-color: #3c3f41;
  color: #ffffff;
}
.app-bar.darcula .app-bar-drop-container:before {
  background-color: #3c3f41;
  border-color: #3c3f41;
}
.app-bar.darcula .app-bar-pullmenu .app-bar-menu {
  border-top: 1px solid #616162;
  background-color: #616162;
}
.app-bar.darcula .app-bar-pullmenu .app-bar-menu li:hover {
  background-color: #3c3f41;
}
.app-bar.darcula .app-bar-pullmenu .app-bar-menu li:hover a {
  background-color: #1d1d1d;
  color: #ffffff;
}